@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";


@theme {
  --color-bg: #0b0f14;
  --color-panel: #11161c;
  --color-panel-2: #0f141a;
  --color-border: #1f2933;
  --color-text: #c9d1d9;
  --color-text-muted: #8b949e;
  --color-accent: #58a6ff;
  --color-accent-soft: #1f6feb;
  /* --color-danger: #ff6b6b;
  --color-success: #3fb950; */
  --cell-dead: #11161c;
  --cell-alive: #88ff00;
  --cell-hover: rgba(136, 255, 0, 0.3);
}


@layer base {
  body {
    background-color: var(--color-bg);
    color: var(--color-text);
    font-family: 'JetBrains Mono', ui-monospace, monospace;
    margin: 0;
  }
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}


::selection{
  background-color: var(--color-accent);
  color: #0b0f14;
}